<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 class="color">{{ title }}</h1>
  <h1 *ngIf="count > 0"> I am visible if i am greater than 0</h1>
  <button class="btn" (click)="decreaseCount()">Decrement</button>
  <button class="btn" (click)="increaseCount()">Increment</button>

  <li *ngFor=" let  number of   listOfNUmbers">{{number}}</li>
  <li *ngFor=" let  string of   listofcars">{{string}}</li>
</body>
</html>

<input type="text"[(ngModel)]="title">